.footer
  %ul.footer__main
    %li.footer__main__top__left
      %h2.footer__main__top__left__title
        %div FURIMAについて
      %h2.footer__main__top__left__contents
        %div 会社概要（運営会社）
        %div プライバシーポリシー
        %div FURIMA利用規約
        %div ポイントに関する特約
    %li.footer__main__top__center
      %h2.footer__main__top__center__title
        %div FURIMAをみる
      %h2.footer__main__top__center__contents
        %div カテゴリー一覧
        %div ブランド一覧
    %li.footer__main__top__right
      %h2.footer__main__top__right__title
        %div ヘルプ＆ガイド
      %h2.footer__main__top__right__contents
        %div FURIMAガイド
        %div FURIMAロゴ利用ガイドライン
        %div お知らせ
  .footer__bottom
    .footer__bottom__logo
      %div フリマ
    .footer__bottom__text
      %div ©︎furima