.footer
  %ul.footer__main
    %li.footer__main__top__left
      %h2.footer__main__top__left__title
        %div FURIMAについて
        %div テキスト
    %li.footer__main__top__center
      %h2.footer__main__top__center__title
        %div FURIMAをみる
        %div テキスト
    %li.footer__main__top__right
      %h2.footer__main__top__right__title
        %div ヘルプ＆ガイド
        %div テキスト
  .footer__bottom
    .footer__bottom__logo
      %div フリマ
    .footer__bottom__text
      %div ©︎furima