.header
  .header__main
    .header__wrapper
      .header__wrapper__top
        .header__wrapper__top__logo
          メルカリ
        .header__wrapper__top__search-box
          .header__wrapper__top__search-box__window
            何かお探しですか？
          .header__wrapper__top__search-box__logo
            ◎
      .header__wrapper__bottom
  
        .header__wrapper__bottom__find-box
          .header__wrapper__bottom__find-box__category
            カテゴリー
          .header__wrapper__bottom__find-box__brand
            ブランド
  
        .header__wrapper__bottom__login-box
          .header__wrapper__bottom__login-box__regi-btn
            新規会員登録
          .header__wrapper__bottom__login-box__log-btn
            ログイン
