.main
  .show_main
    .content
      .item_box
        .item_box__item_title
          購入内容の確認
        %hr
        .item-review
          .item-review__image
            写真
          .item-review__wrapper
            .item-review__wrapper__title
              手作りキャットタワー
            .item-review__wrapper__price
              3500円(税込み) 着払い          
        %hr
        .payment-amount
          .payment-amount__title
            支払金額
          .payment-amount__amount
            3500円
        %hr

        .payment-methods
          .payment-methods__top
            .title
              %h1 支払方法
            .btn
              %h2 変更する
          .payment-methods__bottom
            .payment-methods__bottom__method
              支払い方法
              = form_with url: confirmation_items_path do
                :plain
                  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_68e28eb49989b2a1e9972cf4"></script>
            .payment-methods__bottom__card-logo
              ロゴ
        %hr
        .delivery-destination
          .delivery-destination__top
            .title
              配達先
            .btn
              変更する
          .delivery-destination__bottom
            .delivery-destination__bottom__post-code
              〒145-0082
            .delivery-destination__bottom__address
              東京都大田区あああ
            .delivery-destination__bottom__name
              池田尚仁
        %hr
        .submit-btn
          購入する

