.column_title__edit{ //newページと差異のある箇所のみ記述 (全体をつなげる際要リファクタリング)
  display: flex;
  flex-direction: column;
  .column_title__edit__wrapper{
    .column_title___edit__wrapper__text{
      display: flex;
      justify-content: flex-start;
      h1{
        font-weight: bold;
        font-size: 14px;
        padding: 5px 10px;
        line-height: 25px;
        height: 25px;
      }
      p{
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        background-color: $main_blue;
        border-radius: 3px;
        line-height: 25px;
        height: 25px;
        width: 35px;
        text-align: center;
        padding: 1px;
        margin-bottom: 10px;    
      }
    }
    .item_image{
      height: 200px;
      width: 200px;
    }
  }
}
