.main{
  width: 100vw;
  //人生を変えるフリマアプリ部分
  .key-visual-a{
    background:image-url('pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    height: 560px;
    padding: 0 60px;
    align-items: center;
    display: flex;
    &__text-box{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__message-a{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__message-b{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__banners{
        display: flex;
      }
    }
  }

  //FURIMAが選ばれる３つの理由部分
  .introductions{
    height: 600px;
    display: flex;
    padding: 60px 200px;
    flex-direction: column;
    .introductions__title{
      height:100px;
      width: 100%;
      text-align: center;
      font-size:26px ;
    }
    .introductions__lists{
      display: flex;
      justify-content: space-between;
      height: 400px;
      &__list{
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        &__image-left{  //リファクタリング（mixin)
          width: 100%;
          height: 300px;
          background:image-url('pict/pict-reason-01.jpg');
          background-size: cover;
          position: relative;
          &__no{
            border-radius: 3px;
            text-align: center;
            color: white;
            font-size: 30px;
            position: absolute;
            background-color: $main_blue;
            top: 0;
            left: 0;
            height: 50px;
            width: 50px;
            line-height: 50px;
          }
        }
        &__image-center{ //リファクタリング（mixin)
          width: 100%;
          height: 300px;
          background:image-url('pict/pict-reason-02.jpg');
          background-size: cover;
          position: relative;
          &__no{
            border-radius: 3px;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 30px;
            position: absolute;
            background-color: $main_blue;
            top: 0;
            left: 0;
            height: 50px;
            width: 50px;
          }
        }
        &__image-right{  //リファクタリング（mixin)
          width: 100%;
          height: 300px;
          background:image-url('pict/pict-reason-03.jpg');
          background-size: cover;
          position: relative;
          &__no{
            border-radius: 3px;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 30px;
            position: absolute;
            background-color: $main_blue;
            top: 0;
            left: 0;
            height: 50px;
            width: 50px;
          }
        }
        &__title{
          width: 100%;
          height: 50px;
          font-size: 24px;
          text-align: center;
        }
        &__text{
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }

  //会員数日本一位部分
  .key-visual-b{
    background:image-url('pict/bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__wrapper{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__banners{
        display: flex;
      }
    }
  }
  
  //FURIMAの特徴部分
  .key-features{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    &__title{
      height: 60px;
      padding: 50px 0 30px 0;
      font-size: 27px;
      line-height: 60px;
      text-align: center;
    }
    &__wrapper{
      display: flex;
      // justify-content: space-between;
      display: flex;
      justify-content: center;
      height: 500px;
      &__box{
        padding:0 50px;
        height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image-left{ //リファクタリング（mixin)
          height: 350px;
          width: 200px;
          background:image-url('icon/icon-01.png');
          background-size: cover;
        }
        &__image-center{
          height: 350px;
          width: 200px;
          background:image-url('icon/icon-03.png');
          background-size: cover;
        }
        &__image-right{
          height: 350px;
          width: 200px;
          background:image-url('icon/icon-04.png');
          background-size: cover;
        }
        &__title{
          margin-top: 50px;
          font-size: 19px;
          text-align: center;
        }
        &__text{
          width: 330px;
          font-size: 17px;
          text-align: center;
        }
      }
    }
  }

  //ピックアップカテゴリー部分
  .pickup-items{
    background-color: $light_gray;
    display: flex;
    flex-direction: column;
    height: 900px;
    padding:0 300px;
    &__title{
      height: 50px;
      text-align: center;
      font-size: 28px;
      padding-top: 90px;
    }
    .items_title{
      font-size: 24px;
      p{
        color: $main-blue;
        text-align: center;
        padding-bottom: 15px;
      }
      .items-wrapper{
        display: flex;
        justify-content: space-between;
      .item__box{
        background-color:white;
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 200px;
        &__image{
          background-color: blue;
          height: 180px;
        }
        &__body{
          padding: 10px;
          &__name{
            font-size: 16px;
          }
          &__price-box{
            &__price{
              font-size: 16px;
            }
            &__tax{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  }
}

//誰でも簡単、人生を変える部分
.app-banner{
  background:image-url('pict/bg-appBanner-pict.jpg');
  background-position: bottom right;
  background-size: cover;
  height: 250px;
  padding:100px 40px;
  &__box{
    display: flex;
    flex-direction: column;
    &__text-top{
      text-align: center;
      font-size: 24px;
    }
    &__text-center{
      text-align: center;
      font-size: 35px;
    }
    .banner-wrapper{
      margin: 0 auto;
      &__box{
        display: flex ;
      }
    }
  }
}

//apple googleロゴ
  .banner-apple{
    margin-top: 15px;
    
  }
  .banner-google{
    margin-left: 25px;
  }


//投稿ボタン
.post-item-btn{
  width: 110px;
  height: 110px;
  background-color: $main-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 5;
  text-decoration: none;
  &__title{
    padding-top: 10px;
    text-align: center;
    color:white;
    font-size: 18px;

  }
  &__image{
    margin-top: 5px;
  }
}

