.header{
  background-color: blue;
  height: 100px;
  width: 100vw;
  &__main{
    margin: 0 auto;
    width: 80%;
    padding:5px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .header__wrapper__top{
      background-color: red;
      padding: 5px;
      display: flex;

      &__logo{
        border: green solid 1px;
        width: 150px;

      }

      &__search-box{
        border: green solid 1px;
        width: calc(100% - 150px);
        padding: 5px;
        display: flex;
        justify-content: space-between;
        &__window{
          
        }
        &__logo{
          border: green solid 1px;

        }
      }

    }

    .header__wrapper__bottom{
      padding: 5px;
      display: flex;
      justify-content: space-between;
      
      &__find-box{
        display: flex;

        &__category{
          border: white solid 1px;
          display: flex;
        }

        &__brand{
          border: white solid 1px;
          display: flex;
        }
      }
    &__login-box{
      display: flex;
      &__regi-btn{
        border: white solid 1px;
        
      }
      &__log-btn{
        border: white solid 1px;

        }

      }

    }
  }
}

.footer{
  padding:60px 0;
  background-color:$black;
  height: 230px;
  width: 100vw;
  text-align: center;
  position: fixed;
  bottom: 0;
  &__main{
    background-color:$white;
    max-width: 840px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: space-between;

    &__top__left{
      background-color: gray;
      height: 100%;
      width: 180px;
    }
    &__top__center{
      background-color: blue;
      height: 100%;
      width: 180px;
    }
    &__top__right{
      background-color: green;
      height: 100%;
      width: 180px;
    }
  }
  &__bottom{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    &__logo{
      background-color:purple;
      height:50px;
    }
    &__text{
      background-color: yellow;
      height: 20px;

    }
  }
}