.main-b{
  padding:100px;
  background-color: #f8f8f8;
  .show_main-b{
    background-color: white;
    padding:30px 50px;
    .content-b{
      .item_box-b{
        &__title{
          text-align: center;
          font-size: 30px;
        }
        &__result{
          text-align: center;
          font-size: 20px;
        }
        .item-detail-box{
          display: flex;
          margin-bottom: 20px;
          justify-content: center;
          
          &__images{
            display: flex;
            justify-content: center;
            &__image{
              margin: 3px;
            .item-image{
              object-fit: cover;
              height: 150px;
              width: 150px;
            }
          }
          }
          &__info{
            width: 300px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            // background-color: green;
            &__name{
              font-size: 15px;
            }
            &__price{
              font-size: 15px;
            }
            &__seller{
              font-size: 15px;
            }
            &__description{
              font-size: 15px;
            }
            &__link{
              background-color: $main-blue;
              border-radius: 3px;
              width: 150px;
              text-align: center;
              margin-top: 20px;
              a{
                text-decoration: none;
                color: white;
              }
            }

          }
        }
      }
    }
  }
}