// Place all the styles related to the purchase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.purchase {
  color: white;
  background-color: red;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

