.user-registration {
  background-color: rgb(241, 239, 239);
  overflow: scroll;
  padding: 0 0 220px;
  width: 100vw;
  &__header {
    height: 128px;
  }
  &__main {
    &__container {
      background-color: white;
      width: 700px;
      margin: 0 auto;
      position: relative;
      .field {
        margin-top: 24px;
      }
      .form {
        width: 300px;
        margin: 8px 0 0;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .form-box {
        margin: 0 auto;
        max-width: 343px;
        .field {
          &__name {
            padding-top: 10px;
            margin: 8px 0 0;
            display: flex;
            max-width: 334px;
            .form-name {
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 50%;
              height: 30px;
            }
            .name-left {
              margin-right: 8px;
            }
          }
          &__birth {
            padding-top: 10px;
            margin: 8px 0 0;
            display: flex;
            max-width: 334px;
            .birthday {
              line-height: 40px;
              font-size: 20px;
            }
            .form-birth {
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 20px;
              width: 50%;
              height: 50px;
              padding-left: 20px;
            }
          }
          .necessary {
            background-color: $main_blue;
            color: white;
            border-radius: 2px;
            font-size: 12px;
            padding: 3px;
          }
        }
      }
      &__head {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; /*上下左右中央に*/
        border-bottom: solid 1px #f5f5f5;;
        &__text {
          text-align: center;
        }
      }
    }
  }
}
.actions {
  height: 48px;
  width: 334px;
  margin-top: 24px;
  .next {
    width: 100%;
    padding:15px;
    display:inline-block;
    background:$main_blue;
    color:#fff;
    border-radius:5px;
    text-decoration:none;
    line-height:1;
    border: 1px solid $main_blue;
  }
}
.space {
  height: 100px;
}




.user-login {
  height: 100vh;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(241, 239, 239);
  &__single-container {
    height: 100%;
    width: 100%;
    &__header {
      height: 128px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__logo-box {
        img {
          width: 185px;
          height: 49px;
        }
      }
    }
    &__main {
      width: 100%;
      background-color: rgb(241, 239, 239);
      &__login-panel {
        width: 456px;
        height: 500px;
        margin: 0 auto;
        background-color: #fff;
        &__login-no-account {
          padding: 40px 64px 0 64px;
          text-align: center;
          height: 64px;
          width: 328px;
          .signup {
            display: block;
            margin: 8px 0 0;
            border: 1px solid #0099e8;
            background: #0099e8;
            color: #fff;
            line-height: 40px;
          }
        }
        &__login-form-inner {
          padding: 24px 64px 32px;
          .field {
            width: 100%;
            margin-top: 24px;
            .login-form {
              width: 300px;
              margin: 8px 0 0;
              height: 30px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}



a {
  text-decoration: none;
}
label {
  font-weight: 600;
  font-size: 14px;
}